<nz-modal
  [nzVisible]="open()"
  [nzTitle]="modalTitleKey() | translate"
  [nzFooter]="footerTpl"
  [nzWidth]="600"
  (nzOnCancel)="onCancel()"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    @if (contextLoading()) {
      <p class="rw-approve__loading">{{ 'COMMON.LOADING' | translate }}</p>
    } @else {
      <section class="rw-approve__section rw-approve__section--history">
        <div class="rw-approve__section-title">{{ 'RETURNS_WORKFLOW.WORKFLOW_HISTORY' | translate }}</div>
        <app-returns-workflow-timeline
          [documentContext]="documentContext()"
          [approvedOnly]="true"
          [emptyMessageKey]="'RETURNS_WORKFLOW.NO_WORKFLOW_HISTORY'"
        />
      </section>

      <div class="rw-approve__section">
        <div class="rw-approve__label">{{ 'RETURNS_WORKFLOW.ACCOUNTABILITY_TYPE' | translate }}</div>
        <nz-radio-group
          class="rw-approve__radios"
          [ngModel]="accountability()"
          (ngModelChange)="accountability.set($event)"
        >
          @for (opt of accountabilityOptions(); track opt) {
            <label nz-radio [nzValue]="opt">{{ optionLabelKey(opt) | translate }}</label>
          }
        </nz-radio-group>
      </div>
    }
  </ng-container>
</nz-modal>

<ng-template #footerTpl>
  <button
    nz-button
    nzType="default"
    type="button"
    [disabled]="submitting() || contextLoading()"
    (click)="onCancel()"
  >
    {{ 'COMMON.CANCEL' | translate }}
  </button>
  <button
    nz-button
    nzType="primary"
    type="button"
    [disabled]="!canSubmit()"
    [nzLoading]="submitting()"
    (click)="onSubmit()"
  >
    {{ 'RETURNS_WORKFLOW.SUBMIT_ACTION' | translate }}
  </button>
</ng-template>
